#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // ┌──────┬──────┬──────┬──────┬──────┬──────┐               ┌──────────┬──────┬──────┬──────┬──────┬──────┐
            // │ ESC  │  1   │  2   │  3   │  4   │  5   │               │  6       │  7   │  8   │  9   │  0   │  -   │
            // ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┤ ├──────────┼──────┼──────┼──────┼──────┼──────┼──────┤
            // │ TAB  │  Q   │  W   │  E   │  R   │  T   │ LCTL │ LGUI │ │  Y       │  U   │  I   │  O   │  P   │  \   │
            // ├──────┼──────┼──────┼──────┼──────┼──────┼──────┼──────┤ ├──────────┼──────┼──────┼──────┼──────┼──────┼──────┤
            // │ LSFT │  A   │  S   │  D   │  F   │  G   │ LALT │ SPC  │ │  H       │  J   │  K   │  L   │  ;   │  '   │
            // ├──────┼──────┼──────┼──────┼──────┼──────┼──────┼──────┤ ├──────────┼──────┼──────┼──────┼──────┼──────┼──────┤
            // │ LCTL │  Z   │  X   │  C   │  V   │  B   │CMD/BS│ RET  │ │  N       │  M   │  ,   │  .   │  /   │ LALT │
            // └──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘ └──────────┴──────┴──────┴──────┴──────┴──────┘
            bindings = <
                &kp ESC   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                     &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &kp MINUS
                &kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp LCTRL      &kp SPACE           &kp Y   &kp U      &kp I      &kp O    &kp P     &kp BSLH
                &kp LSHFT &kp A   &kp S   &kp D   &kp F   &kp G   &kp LALT       &kp RET             &kp H   &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
                &kp LCTRL &kp Z   &kp X   &kp C   &kp V   &kp B   &mt LGUI BSPC  &kp LGUI            &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp LALT
            >;
        };
    };
};
